extends layout

block content
  h1= title
  p Welcome to #{title} simulator

  #wrapper

    h2 Simulator List

    #simulatorList
      table
        thead
          th Simulator Name
          th Simulate?
          th Remove?
        tbody
          td Microwave
          td 
          td remove
    // /SIMULATOR LIST
  // /WRAPPER

  div 
    img(src="../simulator_images/MicrowaveOff.jpg")
  div
    form(action="/simulators", method="get")
      input(type="submit", value="simulate")
