extends layout

block content
  h1= title
  p Welcome to #{title} simulator

  #wrapper

    h2 Simulator List

    #simulatorList
      table
        thead
          th Simulator Name
          th Activate?
        tbody
    // /SIMULATOR LIST
  // /WRAPPER
