extends layout

block content
  h1= title
  p Welcome to #{title} simulator

  #wrapper

    h2 Simulator List

    #simulatorList
      table
        thead
          th Simulator Name
          th Simulate?
        tbody
    // /SIMULATOR LIST
  // /WRAPPER

  div
    form(action="/simulators", method="post")
      input(type="submit", value="simulate")
