

<!--
<!doctype html>
<html>
  <head>
    <title>SAPHIRE</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
  </head>
  <body>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/javascripts/global.js"></script>
    <div id="imgContainer">
      <img src="/images/kitchen.jpg"/>
    </div>
    <div id="wrapper">
      <h1>SAPHIRE Simulator</h1>
      <p>Welcome to the simulator</p>
      <div id="simulatorInfo">
        <h2>Simulator Information</h2>
        <strong>Name:</strong>
        <span id="simName"></span>
        <br>
        <strong>Properties:</strong>
        <span id="simProp"></span>
        <br>
        <strong>Operataion:</strong>
        <span id="simOp"></span>
        <br>
        <strong>Location:</strong>
        <span id="simLoc"></span>
        <h2>Add Simulator</h2>
      </div>
      <div id="addSimulator">
        <fieldset>
          <input class="textfield" id="inputSimulatorName" type="text" placeholder="simulator name"/>
          <br>
          <input class="textfield" id="inputSimulatorProp" type="text" placeholder="simulator properties"/>
          <br>
          <input id="inputSimulatorOp" class="textfield" type="text" placeholder="simulator operations"/>
          <br>
          <input class="textfield" id="inputSimulatorLoc" type="text" placeholder="simulator location"/>
          <br>
          <input id="btnAddSimulator" type="button" value="Add Simulator" onclick="addSimulator();"/>
        </fieldset>
      </div>
      <h2>Simulator List</h2>
      <div id="simulatorList">
        <table>
          <thead>
            <th>Information</th>
            <th>Simulate?</th>
            <th>Remove?</th>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </body>
</html>
-->
