extends layout

block content
  h1= title
  p Welcome to #{title} simulator

  #wrapper

    h2 Simulator List

    #simulatorList
      table
        thead
          th Simulator Name
          th Simulate?
          th Remove?
        tbody
          td Microwave
          td 
          td remove
    // /SIMULATOR LIST
  // /WRAPPER

  div 
    img(src="/images/microwaveOff.jpg")
  div
    //form(action="/simulators", method="post")
    form(action="/", method="post");
      input(type="submit", value="simulate")
