extends layout

block content
  #imgContainer
    img(src='/images/kitchen.jpg')

  #wrapper
    h1= title + version
    p Welcome to the #{title} simulator
    h2 Simulator List

    #simulatorList
      table
        thead
          th Simulator Name
          th Information
          th Simulate?
          th Remove?
        tbody
    // /SIMULATOR LIST
  // /WRAPPER
